.card_contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  margin: 1em;

  &_gilles {
    margin-top: 3em;
  }
  &_socials {
    display: flex;
    gap: 2em;
    margin-top: 2em;

    &_logo {
      width: 75px;
      height: 75px;
    }
  }
}

.contacts {
  line-height: 1.7em;
  h3 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
}

.mail_link {
  text-decoration: none;
  color: $color-accent;
}
